.product-image-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-container {

  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
}



.product-image {
  max-width: 30%;
  max-height: 30%;
  
}

.product-title {
  font-weight: bold;
  margin-bottom: -30px;
  font-size: 40px;

}

.product-price {
  margin-bottom: 5px;
}



.categories-titles{
  margin-top: 100px;
  margin-bottom: -5px;
}

.categories-description{
  margin-bottom: 50px;
  font-size: 20px;
  font-weight:500;
}


.title-container {
  font-size: 70px;
  margin-bottom: 10px;
  margin-top: 120px;
}

.Price-Range{
margin-top: 5px;
margin-bottom: 1px;
}


.filter-form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.filter-form h2 {
  font-size: 20px;
  margin-bottom: 5px;
}

.filter-form form {
  display: flex;
  flex-direction: column;
}

.filter-form .form-group {
  margin-bottom: -5px;
}

.filter-form label {
  font-weight: bold;
}

.filter-form select,
.filter-form input[type="text"],
.filter-form input[type="number"] {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.filter-form button[type="submit"] {
  padding: 10px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.filter-form button[type="submit"]:hover {
  background-color: #0056b3;
}

